<%= stylesheet_link_tag 'session' %>
<main class="form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2 class="h2 mb-3 fw-normal">Sign up</h2>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name, class: "visually-hidden" %><br />
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: "visually-hidden" %><br />
      <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :dni, class: "visually-hidden" %><br />
      <%= f.text_field :dni, autofocus: true, placeholder: "01.234.567-8", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email, class: "visually-hidden" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "visually-hidden" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "visually-hidden" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
